.card-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  max-width: 100%;
  padding-top: 30px;
  border-radius: 5px;
  align-items: center;
  color: #b3b8cd;
  background-color: #231e39;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.card-container .image {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
}
